.layout {
    display: flex;
}
body {
    margin: 0;
    font-family: 'Inter';
    font-size: 22;
    font-weight: 600;
    display: flex;
}

.logo-image{
    height: 115px;
    width: 110px;
    padding-top: 0;
}
.sidebar{
    width: 160px;
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: fixed;
}

.menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    background-color: #f1f1f1; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover ,
.menu-item.active  {
    background-color: #ff4c4c; 
    color: #fff; 
}

.menu-item:hover,
.menu-item.active {
    background-color: #ff4c4c; 
    color: #fff; 
}

form {
    width: 650px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 30px;
    top: 20px;
    
}

input{
    all: unset;
    font: 12px 'Inter';
    height: 30px;
    width: 1000000px;
    padding: 10px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    margin-left:200px; 
    padding: 20px;
    background-color: #ecfcff; 
    height: 100vh; 
    overflow-y: auto; 
    position: relative;
}

.box {
    width: 610px;
    height: auto; 
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    position: relative;
    top: 70px;
    background-color: #ffffff;
    left: 30px;
    border-radius: 10px;
    padding: 10px; 
}

.category{
    font-size: 12px;
    position: relative;
    left: 10px;
}

.eight{
    font-size: 12px;
    position: relative;
    left: 20px;
    color: #ff5757;
    padding-right: 400px;
}

.categ1, .categ2, .categ3, .categ4, .categ5, .categ6{
    font-size: 12px;
    background-color: #ff5757;
    color: #fff; 
    border-radius: 50px;
    padding: 0px 15px; 
    text-align: end;
    top: 50px;
    left: -190px;
    
}


